@CHARSET "UTF-8";

input[type=submit] {
	background: none !important;
	border: none;
	padding: 0 !important;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#login {
	padding: 5px 0;
	border: none;
	text-align: right;
}

#right-bottom-site {
	width: 200px;
 	height: 200px;
 	text-align: right;
 	vertical-align: bottom;
}

#left-bottom-site
{
	width: 200px;
 	height: 200px;
 	text-align: left;
 	vertical-align: bottom;
}