<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl-PL">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tankowanie</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="col-md-8">
			<div class="container">
				<img src="../../static/images/refueling-150x150.jpg" width="120"
					height="120" th:src="@{/images/refueling-150x150.jpg}" />
			</div>

			<h3>Tankowanie:</h3>
			<br/>
			<div>
				<form class="form-horizontal" th:object="${refueling}"
					th:action="@{/refueling}" method="post">
					<input type="hidden" th:field="*{id}" /> <input type="hidden"
						value="0" name='weightOfCargo' /> <input type="hidden" value="1"
						name='routeStatus.id' />
					<div class="form-group">
						<label class="col-md-4 control-label">Nr rejestracyjny
							ciężarówki:</label>
						<div class="col-md-4">
							<select class="form-control" th:field="*{squad.id}">
								<option th:each="squad : ${activeSquads}" th:value="${squad.id}"
									th:text="${squad.truck.registrationNumber}">Nr
									rejestracyjny ciężarówki</option>
							</select>
							<div th:if="${#fields.hasErrors('squad.id')}">
								<label style="color: red">Podaj aktywny pojazd!</label>
							</div>
							<div th:if="${#lists.isEmpty(activeSquads)}">
								<label style="color: red">Brak aktywnych składów. Utwórz
									najpierw skład.</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Liczba litrów:</label>
						<div class="col-md-4">
							<input type="text" class="form-control"
								th:field="*{amountOfFuel}" />
							<div th:if="${#fields.hasErrors('amountOfFuel')}">
								<label style="color: red">Wprowadź liczbę mniejszą niż
									2000</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Stan licznika km:</label>
						<div class="col-md-4">
							<input type="text" class="form-control" th:field="*{odometer}" />
							<div th:if="${#fields.hasErrors('odometer')}">
								<label style="color: red">Wprowadź liczbę od 0 do
									9999999</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Data tankowania:</label>
						<div class="col-md-4">
							<input type="text" class="form-control" th:field="*{routeDate}" />
							<div th:if="${#fields.hasErrors('routeDate')}">
								<label style="color: red">Wprowadź datę w formacie
									YYYY-MM-DD</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary btn-md">Zapisz</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>