<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="pl-PL">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Raport z trasy</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>
	<div class="container">

		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h3>Raporty z trasy</h3>


		<div class="container">
			<div class="col-md-4">
				<form th:object="${route}" th:action="@{/routes/report/generate}"
					method="get">

					<div class="form-inline">
						<label>data od: </label> <input type="text" class="form-control"
							name="startdate" id="startdate" th:value="${startdate}"
							placeholder="yyyy-mm-dd" />
					</div>
					<br />
					<div class="form-inline">
						<label>data do: </label> <input type="text" class="form-control"
							name="enddate" id="enddate" th:value="${enddate}"
							placeholder="yyyy-mm-dd" />
					</div>
					<br />
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Utwórz</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4">

				<div class="text-center" th:if="${not #lists.isEmpty(reports)}">
					<div>
						<img src="../../static/images/pdfs-512.png" width="38" height="50"
							th:src="@{/images/pdfs-512.png}" />
					</div>
					<div>
						<a href="/routes/fuelreport/pdf">Pobierz raport PDF</a>
					</div>

					<div>
						<img src="../../static/images/excel.png" width="50" height="50"
							th:src="@{/images/excel.png}" />
					</div>

					<div>
						<a href="/routes/fuelreport/xlsx">Pobierz raport Excel</a>
					</div>
				</div>

			</div>

		</div>

		<div th:if="${not #lists.isEmpty(reports)}">

			<div>
				<br />
				<h4>Raport spalania</h4>
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th class="col-md-1">nr rejestracyjny</th>
							<th class="col-md-1">data początku</th>
							<th class="col-md-1">data końca</th>
							<th class="col-md-1">stan początkowy licznika</th>
							<th class="col-md-1">stan końcowy licznika</th>
							<th class="col-md-1">dystans</th>
							<th class="col-md-1">średnie zużycie na 100km</th>
							<th class="col-md-2">średnie zużycie na 100km według normy</th>
							<th class="col-md-1">zaoszczędzone paliwo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="report : ${reports}">
							<td th:text="${report.registrationNumber}">nr rejestracyjny</td>
							<td th:text="${#dates.format(report.startDate, 'yyyy-MM-dd')}">data
								początku</td>
							<td th:text="${#dates.format(report.endDate, 'yyyy-MM-dd')}">data
								końca</td>
							<td th:text="${report.odometerStart}">stan początkowy
								licznika</td>
							<td th:text="${report.odometerEnd}">stan końcowy licznika</td>
							<td th:text="${report.distance}">dystans</td>
							<td
								th:text="${#numbers.formatDecimal(report.averageConsumption, 0, 'COMMA', 2, 'POINT')}">średnie
								zużycie</td>
							<td
								th:text="${#numbers.formatDecimal(report.averageModelConsumption, 0, 'COMMA', 2, 'POINT')}">średnie
								zużycie według modelu</td>
							<td th:text="${report.fuelSaved}">zużycie paliwa</td>
						</tr>
					</tbody>
				</table>

				<h4>Szczegóły</h4>
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th>id</th>
							<th>typ</th>
							<th class="col-md-1">nr rejestracyjny</th>
							<th class="col-md-1">data początku</th>
							<th class="col-md-1">data końca</th>
							<th class="col-md-1">stan początkowy licznika</th>
							<th class="col-md-1">stan końcowy licznika</th>
							<th>dystans</th>
							<th>waga ładunku</th>
							<th>liczba litrów</th>
							<th class="col-md-2">średnie zużycie na 100km według normy</th>
							<th class="col-md-1">zużycie według normy</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detailedreport : ${detailedreports}">
							<td th:text="${detailedreport.idRoute}">id</td>
							<td th:text="${detailedreport.name}">typ</td>
							<td th:text="${detailedreport.registrationNumber}">nr
								rejestracyjny</td>
							<td
								th:text="${#dates.format(detailedreport.routeDateStart, 'yyyy-MM-dd')}">data
								początku</td>
							<td
								th:text="${#dates.format(detailedreport.routeDateEnd, 'yyyy-MM-dd')}">data
								końca</td>
							<td th:text="${detailedreport.odometerStart}">stan
								początkowy licznika</td>
							<td th:text="${detailedreport.odometerEnd}">stan końcowy
								licznika</td>
							<td th:text="${detailedreport.distance}">dystans</td>
							<td th:text="${detailedreport.weightOfCargo}">waga ładunku</td>
							<td th:text="${detailedreport.amountOfFuel}">liczba litrów</td>

							<td
								th:text="${#numbers.formatDecimal(detailedreport.modelAverageConsumption, 0, 'COMMA', 2, 'POINT')}">średnie
								zużycie na 100km według normy</td>
							<td
								th:text="${#numbers.formatDecimal(detailedreport.modelFuelConsumption, 0, 'COMMA', 2, 'POINT')}">zużycie
								według normy</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>