<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="pl-PL">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista naczep</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div>
			<div class="container">
				<img src="../../static/images/trailer-1200x400.png" width="360"
					height="120" th:src="@{/images/trailer-1200x400.png}" />
			</div>

			<div class="col-sm-10" sec:authorize="hasRole('ADMIN')">
				<h5>
					<a href="#" th:href="@{/trailer/new}">Dodaj Naczepę</a>
				</h5>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(trailers)}">
			<div class="col-sm-10">
				<h2>Lista naczep</h2>
			</div>
			<table class="table table-striped">
				<tr>
					<th>id</th>
					<th>nr rejestracyjny</th>
					<th>producent</th>
					<th>model</th>
					<th>rok produkcji</th>
					<th>Rodzaj naczepy</th>
					<th>Aktywna</th>
					<th>Data utworzenia</th>
					<th sec:authorize="hasAnyRole('USER','ADMIN')">Otwórz</th>
					<th sec:authorize="hasRole('ADMIN')">Edytuj</th>
				</tr>
				<tr th:each="trailer : ${trailers}">
					<td th:text="${trailer.id}"><a href="/trailer/${trailer.id}">Id</a></td>
					<td th:text="${trailer.registrationNumber}">nr rejestracyjny</td>
					<td th:text="${trailer.producer}">producer</td>
					<td th:text="${trailer.model}">model</td>
					<td th:text="${trailer.productionYear}">rok produkcji</td>
					<td th:text="${trailer.trailerType}">Rodzaj naczepy</td>
					<td th:text="${trailer.Active}">Aktywna</td>
					<td th:text="${trailer.creationDate}">Data utworzenia</td>
					<td sec:authorize="hasAnyRole('USER','ADMIN')"><a
						th:href="${ '/trailer/' + trailer.id}">Otwórz</a></td>
					<td sec:authorize="hasRole('ADMIN')"><a
						th:href="${'/trailer/edit/' + trailer.id}">Edytuj</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>