<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="pl-PL">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Naczepy</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="container">

			<img src="../../static/images/trailer-1200x400.png" width="360"
				height="120" th:src="@{/images/trailer-1200x400.png}" />

			<div sec:authorize="hasRole('ADMIN')">

				<div>
					<br /> <img src="../../static/images/add-512x512.png" width="30"
						height="30" th:src="@{/images/add-512x512.png}" /> <a href="#"
						th:href="@{/trailer/new}">Dodaj naczepę</a>
				</div>

			</div>

		</div>

		<div class="container">

			<div class="col-md-3">
				<h3>Lista naczep</h3>
			</div>

			<div class="col-md-9 text-right">

				<form class="form-inline" 
					th:action="@{/trailers/search}" method="get">

					<input type="radio" name="option" id="option" th:value="1" />
					aktywne <input type="radio" name="option" id="option" th:value="2" />nieaktywne


					<button type="submit" class="btn btn-primary btn-md">Filtruj</button>

				</form>
			</div>

		</div>

		<div class="container" th:if="${not #lists.isEmpty(trailers)}">

			<table class="table table-striped">
				<tr>
					<th>id</th>
					<th>nr rejestracyjny</th>
					<th>producent</th>
					<th>model</th>
					<th>rok produkcji</th>
					<th>Rodzaj naczepy</th>
					<th>Aktywna</th>
					<th>Data utworzenia</th>
					<th sec:authorize="hasAnyRole('USER','ADMIN')">Otwórz</th>
					<th sec:authorize="hasRole('ADMIN')">Edytuj</th>
				</tr>
				<tr th:each="trailer : ${trailers}">
					<td th:text="${trailer.id}"><a href="/trailer/${trailer.id}">Id</a></td>
					<td th:text="${trailer.registrationNumber}">nr rejestracyjny</td>
					<td th:text="${trailer.producer}">producer</td>
					<td th:text="${trailer.model}">model</td>
					<td th:text="${trailer.productionYear}">rok produkcji</td>
					<td th:text="${trailer.trailerType.name}">Rodzaj naczepy</td>
					<td th:text="${trailer.active}">Aktywna</td>
					<td th:text="${#dates.format(trailer.creationDate, 'yyyy-MM-dd')}">Data
						utworzenia</td>
					<td sec:authorize="hasAnyRole('USER','ADMIN')"><a
						th:href="${ '/trailer/' + trailer.id}"><img
							src="../../static/images/open-256x256.png" width="20" height="20"
							th:src="@{/images/open-256x256.png}" /></a></td>
					<td sec:authorize="hasRole('ADMIN')"><a
						th:href="${'/trailer/edit/' + trailer.id}"><img
							src="../../static/images/edit-256x256.png" width="20" height="20"
							th:src="@{/images/edit-256x256.png}" /></a></td>
				</tr>
			</table>

		</div>
		
	</div>

</body>
</html>