<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="pl-PL">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ciężarówki</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div>
			<div class="container">
				<img src="../../static/images/tir-550x400.png" width="165"
					height="120" th:src="@{/images/tir-550x400.png}" />
			</div>

			<div class="col-sm-10" sec:authorize="hasRole('ADMIN')">
				<h5>
					<a href="#" th:href="@{/truck/new}">Dodaj ciężarówkę</a>
				</h5>
				<h5>
					<a href="#" th:href="@{/trucks/active/true}">Pokaż aktywne</a>
				</h5>
				<h5>
					<a href="#" th:href="@{/trucks/active/false}">Pokaż nieaktywne</a>
				</h5>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(trucks)}">
			<div class="col-sm-10">
				<h3>Lista ciężarówek</h3>
			</div>
			<table class="table table-striped">
				<tr>
					<th>id</th>
					<th>nr rejestracyjny</th>
					<th>producent</th>
					<th>model</th>
					<th>rok produkcji</th>
					<th>EURO Standard</th>
					<th>KM</th>
					<th>Aktywny</th>
					<th>Data utworzenia</th>
					<th sec:authorize="hasAnyRole('USER','ADMIN')">Otwórz</th>
					<th sec:authorize="hasRole('ADMIN')">Edytuj</th>
				</tr>
				<tr th:each="truck : ${trucks}">
					<td th:text="${truck.id}"><a href="/truck/${truck.id}">Id</a></td>
					<td th:text="${truck.registrationNumber}">nr rejestracyjny</td>
					<td th:text="${truck.producer}">producer</td>
					<td th:text="${truck.model}">model</td>
					<td th:text="${truck.productionYear}">rok produkcji</td>
					<td th:text="${truck.euroStandard}">EURO Standard</td>
					<td th:text="${truck.horsePower}">KM</td>
					<td th:text="${truck.active}">Aktywny</td>
					<td th:text="${#dates.format(truck.creationDate, 'yyyy-MM-dd')}">Data utworzenia</td>
					<td sec:authorize="hasAnyRole('USER','ADMIN')"><a
						th:href="${ '/truck/' + truck.id}"><img
							src="../../static/images/open-256x256.png" width="20" height="20"
							th:src="@{/images/open-256x256.png}" /></a></td>
					<td sec:authorize="hasRole('ADMIN')"><a
						th:href="${'/truck/edit/' + truck.id}"><img
							src="../../static/images/edit-256x256.png" width="20" height="20"
							th:src="@{/images/edit-256x256.png}" /></a></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>